@charset "UTF-8";
.lgw-r *,
.lgw-r :before,
.lgw-r :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

.lgw-r :before,
.lgw-r :after {
    --tw-content: ""
}

.lgw-r {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

.lgw-r hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

.lgw-r abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

.lgw-r h1,
.lgw-r h2,
.lgw-r h3,
.lgw-r h4,
.lgw-r h5,
.lgw-r h6 {
    font-size: inherit;
    font-weight: inherit
}

.lgw-r a {
    color: inherit;
    text-decoration: inherit
}

.lgw-r b,
.lgw-r strong {
    font-weight: bolder
}

.lgw-r code,
.lgw-r kbd,
.lgw-r samp,
.lgw-r pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em
}

.lgw-r small {
    font-size: 80%
}

.lgw-r sub,
.lgw-r sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

.lgw-r sub {
    bottom: -.25em
}

.lgw-r sup {
    top: -.5em
}

.lgw-r table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

.lgw-r button,
.lgw-r input,
.lgw-r optgroup,
.lgw-r select,
.lgw-r textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

.lgw-r button,
.lgw-r select {
    text-transform: none
}

.lgw-r button,
.lgw-r [type=button],
.lgw-r [type=reset],
.lgw-r [type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

.lgw-r :-moz-focusring {
    outline: auto
}

.lgw-r :-moz-ui-invalid {
    box-shadow: none
}

.lgw-r progress {
    vertical-align: baseline
}

.lgw-r ::-webkit-inner-spin-button,
.lgw-r ::-webkit-outer-spin-button {
    height: auto
}

.lgw-r [type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

.lgw-r ::-webkit-search-decoration {
    -webkit-appearance: none
}

.lgw-r ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.lgw-r summary {
    display: list-item
}

.lgw-r blockquote,
.lgw-r dl,
.lgw-r dd,
.lgw-r h1,
.lgw-r h2,
.lgw-r h3,
.lgw-r h4,
.lgw-r h5,
.lgw-r h6,
.lgw-r hr,
.lgw-r figure,
.lgw-r p,
.lgw-r pre {
    margin: 0
}

.lgw-r fieldset {
    margin: 0;
    padding: 0
}

.lgw-r legend {
    padding: 0
}

.lgw-r ol,
.lgw-r ul,
.lgw-r menu {
    list-style: none;
    margin: 0;
    padding: 0
}

.lgw-r textarea {
    resize: vertical
}

.lgw-r input::-moz-placeholder,
.lgw-r textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

.lgw-r input::placeholder,
.lgw-r textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

.lgw-r button,
.lgw-r [role=button] {
    cursor: pointer
}

.lgw-r :disabled {
    cursor: default
}

.lgw-r img,
.lgw-r svg,
.lgw-r video,
.lgw-r canvas,
.lgw-r audio,
.lgw-r iframe,
.lgw-r embed,
.lgw-r object {
    display: block;
    vertical-align: middle
}

.lgw-r img,
.lgw-r video {
    max-width: 100%;
    height: auto
}

.lgw-r [hidden] {
    display: none
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon:before {
    border-color: #ccc;
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: "";
    display: block;
    height: 9px;
    position: absolute;
    top: 6px;
    width: 9px
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    margin-left: -4px;
    position: absolute;
    width: 0
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle:before,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle:before,
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle:after,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle:after {
    box-sizing: content-box;
    position: absolute;
    border: 8px solid transparent;
    height: 0;
    width: 1px;
    content: "";
    z-index: -1;
    border-width: 8px;
    left: -8px
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle:before,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle:before {
    border-bottom-color: #aeaeae
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    top: 0;
    margin-top: -8px
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle:before,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle:after {
    border-top: none;
    border-bottom-color: #f0f0f0
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle:after {
    top: 0
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle:before {
    top: -1px;
    border-bottom-color: #aeaeae
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle {
    bottom: 0;
    margin-bottom: -8px
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle:before,
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle:after {
    border-bottom: none;
    border-top-color: #fff
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle:after {
    bottom: 0
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle:before {
    bottom: -1px;
    border-top-color: #aeaeae
}

.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0
}

.react-datepicker {
    font-family: Helvetica Neue, helvetica, arial, sans-serif;
    font-size: .8rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: .3rem;
    display: inline-block;
    position: relative
}

.react-datepicker--time-only .react-datepicker__triangle {
    left: 35px
}

.react-datepicker--time-only .react-datepicker__time-container {
    border-left: 0
}

.react-datepicker--time-only .react-datepicker__time,
.react-datepicker--time-only .react-datepicker__time-box {
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem
}

.react-datepicker__triangle {
    position: absolute;
    left: 50px
}

.react-datepicker-popper {
    z-index: 1
}

.react-datepicker-popper[data-placement^=bottom] {
    padding-top: 10px
}

.react-datepicker-popper[data-placement=bottom-end] .react-datepicker__triangle,
.react-datepicker-popper[data-placement=top-end] .react-datepicker__triangle {
    left: auto;
    right: 50px
}

.react-datepicker-popper[data-placement^=top] {
    padding-bottom: 10px
}

.react-datepicker-popper[data-placement^=right] {
    padding-left: 8px
}

.react-datepicker-popper[data-placement^=right] .react-datepicker__triangle {
    left: auto;
    right: 42px
}

.react-datepicker-popper[data-placement^=left] {
    padding-right: 8px
}

.react-datepicker-popper[data-placement^=left] .react-datepicker__triangle {
    left: 42px;
    right: auto
}

.react-datepicker__header {
    text-align: center;
    background-color: #f0f0f0;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: .3rem;
    padding: 8px 0;
    position: relative
}

.react-datepicker__header--time {
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px
}

.react-datepicker__header--time:not(.react-datepicker__header--time--only) {
    border-top-left-radius: 0
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
    border-top-right-radius: .3rem
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
    display: inline-block;
    margin: 0 15px
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    margin-top: 0;
    color: #000;
    font-weight: 700;
    font-size: .944rem
}

.react-datepicker-time__header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.react-datepicker__navigation {
    align-items: center;
    background: none;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 2px;
    padding: 0;
    border: none;
    z-index: 1;
    height: 32px;
    width: 32px;
    text-indent: -999em;
    overflow: hidden
}

.react-datepicker__navigation--previous {
    left: 2px
}

.react-datepicker__navigation--next {
    right: 2px
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 85px
}

.react-datepicker__navigation--years {
    position: relative;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.react-datepicker__navigation--years-previous {
    top: 4px
}

.react-datepicker__navigation--years-upcoming {
    top: -4px
}

.react-datepicker__navigation:hover *:before {
    border-color: #a6a6a6
}

.react-datepicker__navigation-icon {
    position: relative;
    top: -1px;
    font-size: 20px;
    width: 0
}

.react-datepicker__navigation-icon--next {
    left: -2px
}

.react-datepicker__navigation-icon--next:before {
    transform: rotate(45deg);
    left: -7px
}

.react-datepicker__navigation-icon--previous {
    right: -2px
}

.react-datepicker__navigation-icon--previous:before {
    transform: rotate(225deg);
    right: -7px
}

.react-datepicker__month-container {
    float: left
}

.react-datepicker__year {
    margin: .4rem;
    text-align: center
}

.react-datepicker__year-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 180px
}

.react-datepicker__year .react-datepicker__year-text {
    display: inline-block;
    width: 4rem;
    margin: 2px
}

.react-datepicker__month {
    margin: .4rem;
    text-align: center
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
    display: inline-block;
    width: 4rem;
    margin: 2px
}

.react-datepicker__input-time-container {
    clear: both;
    width: 100%;
    float: left;
    margin: 5px 0 10px 15px;
    text-align: left
}

.react-datepicker__input-time-container .react-datepicker-time__caption,
.react-datepicker__input-time-container .react-datepicker-time__input-container {
    display: inline-block
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input {
    display: inline-block;
    margin-left: 10px
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input {
    width: auto
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time]::-webkit-inner-spin-button,
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time] {
    -moz-appearance: textfield
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__delimiter {
    margin-left: 5px;
    display: inline-block
}

.react-datepicker__time-container {
    float: right;
    border-left: 1px solid #aeaeae;
    width: 85px
}

.react-datepicker__time-container--with-today-button {
    display: inline;
    border: 1px solid #aeaeae;
    border-radius: .3rem;
    position: absolute;
    right: -87px;
    top: 0
}

.react-datepicker__time-container .react-datepicker__time {
    position: relative;
    background: #fff;
    border-bottom-right-radius: .3rem
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 85px;
    overflow-x: hidden;
    margin: 0 auto;
    text-align: center;
    border-bottom-right-radius: .3rem
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    list-style: none;
    margin: 0;
    height: calc(195px + .85rem);
    overflow-y: scroll;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    box-sizing: content-box
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    height: 30px;
    padding: 5px 10px;
    white-space: nowrap
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
    cursor: pointer;
    background-color: #f0f0f0
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #216ba5;
    color: #fff;
    font-weight: 700
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
    background-color: #216ba5
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
    color: #ccc
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled:hover {
    cursor: default;
    background-color: transparent
}

.react-datepicker__week-number {
    color: #ccc;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: .166rem
}

.react-datepicker__week-number.react-datepicker__week-number--clickable {
    cursor: pointer
}

.react-datepicker__week-number.react-datepicker__week-number--clickable:hover {
    border-radius: .3rem;
    background-color: #f0f0f0
}

.react-datepicker__day-names,
.react-datepicker__week {
    white-space: nowrap
}

.react-datepicker__day-names {
    margin-bottom: -8px
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    color: #000;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: .166rem
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
    cursor: pointer
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
    border-radius: .3rem;
    background-color: #f0f0f0
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
    font-weight: 700
}

.react-datepicker__day--highlighted,
.react-datepicker__month-text--highlighted,
.react-datepicker__quarter-text--highlighted,
.react-datepicker__year-text--highlighted {
    border-radius: .3rem;
    background-color: #3dcc4a;
    color: #fff
}

.react-datepicker__day--highlighted:hover,
.react-datepicker__month-text--highlighted:hover,
.react-datepicker__quarter-text--highlighted:hover,
.react-datepicker__year-text--highlighted:hover {
    background-color: #32be3f
}

.react-datepicker__day--highlighted-custom-1,
.react-datepicker__month-text--highlighted-custom-1,
.react-datepicker__quarter-text--highlighted-custom-1,
.react-datepicker__year-text--highlighted-custom-1 {
    color: #f0f
}

.react-datepicker__day--highlighted-custom-2,
.react-datepicker__month-text--highlighted-custom-2,
.react-datepicker__quarter-text--highlighted-custom-2,
.react-datepicker__year-text--highlighted-custom-2 {
    color: green
}

.react-datepicker__day--holidays,
.react-datepicker__month-text--holidays,
.react-datepicker__quarter-text--holidays,
.react-datepicker__year-text--holidays {
    position: relative;
    border-radius: .3rem;
    background-color: #ff6803;
    color: #fff
}

.react-datepicker__day--holidays .holiday-overlay,
.react-datepicker__month-text--holidays .holiday-overlay,
.react-datepicker__quarter-text--holidays .holiday-overlay,
.react-datepicker__year-text--holidays .holiday-overlay {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .3s ease-in-out
}

.react-datepicker__day--holidays:hover,
.react-datepicker__month-text--holidays:hover,
.react-datepicker__quarter-text--holidays:hover,
.react-datepicker__year-text--holidays:hover {
    background-color: #cf5300
}

.react-datepicker__day--holidays:hover .holiday-overlay,
.react-datepicker__month-text--holidays:hover .holiday-overlay,
.react-datepicker__quarter-text--holidays:hover .holiday-overlay,
.react-datepicker__year-text--holidays:hover .holiday-overlay {
    visibility: visible;
    opacity: 1
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    border-radius: .3rem;
    background-color: #216ba5;
    color: #fff
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
    background-color: #1d5d90
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    border-radius: .3rem;
    background-color: #bad9f1;
    color: #000
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
    background-color: #1d5d90
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
    background-color: #216ba580
}

.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__month-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__month-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__quarter-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__quarter-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__year-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__year-text--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range) {
    background-color: #f0f0f0;
    color: #000
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
    cursor: default;
    color: #ccc
}

.react-datepicker__day--disabled:hover,
.react-datepicker__month-text--disabled:hover,
.react-datepicker__quarter-text--disabled:hover,
.react-datepicker__year-text--disabled:hover {
    background-color: transparent
}

.react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: 100%
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
    position: absolute;
    padding: .5rem;
    box-sizing: content-box
}

.react-datepicker__view-calendar-icon input {
    padding: 6px 10px 5px 25px
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view {
    border: 1px solid transparent;
    border-radius: .3rem;
    position: relative
}

.react-datepicker__year-read-view:hover,
.react-datepicker__month-read-view:hover,
.react-datepicker__month-year-read-view:hover {
    cursor: pointer
}

.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
    border-top-color: #b3b3b3
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
    transform: rotate(135deg);
    right: -16px;
    top: 0
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
    background-color: #f0f0f0;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 30px;
    z-index: 1;
    text-align: center;
    border-radius: .3rem;
    border: 1px solid #aeaeae
}

.react-datepicker__year-dropdown:hover,
.react-datepicker__month-dropdown:hover,
.react-datepicker__month-year-dropdown:hover {
    cursor: pointer
}

.react-datepicker__year-dropdown--scrollable,
.react-datepicker__month-dropdown--scrollable,
.react-datepicker__month-year-dropdown--scrollable {
    height: 150px;
    overflow-y: scroll
}

.react-datepicker__year-option,
.react-datepicker__month-option,
.react-datepicker__month-year-option {
    line-height: 20px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.react-datepicker__year-option:first-of-type,
.react-datepicker__month-option:first-of-type,
.react-datepicker__month-year-option:first-of-type {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem
}

.react-datepicker__year-option:last-of-type,
.react-datepicker__month-option:last-of-type,
.react-datepicker__month-year-option:last-of-type {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem
}

.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover,
.react-datepicker__month-year-option:hover {
    background-color: #ccc
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming {
    border-bottom-color: #b3b3b3
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
    border-top-color: #b3b3b3
}

.react-datepicker__year-option--selected,
.react-datepicker__month-option--selected,
.react-datepicker__month-year-option--selected {
    position: absolute;
    left: 15px
}

.react-datepicker__close-icon {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0 6px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: table-cell;
    vertical-align: middle
}

.react-datepicker__close-icon:after {
    cursor: pointer;
    background-color: #216ba5;
    color: #fff;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    padding: 2px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    content: "×"
}

.react-datepicker__today-button {
    background: #f0f0f0;
    border-top: 1px solid #aeaeae;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    padding: 5px 0;
    clear: left
}

.react-datepicker__portal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000c;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2147483647
}

.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day,
.react-datepicker__portal .react-datepicker__time-name {
    width: 3rem;
    line-height: 3rem
}

@media (max-width: 400px),
(max-height: 550px) {
    .react-datepicker__portal .react-datepicker__day-name,
    .react-datepicker__portal .react-datepicker__day,
    .react-datepicker__portal .react-datepicker__time-name {
        width: 2rem;
        line-height: 2rem
    }
}

.react-datepicker__portal .react-datepicker__current-month,
.react-datepicker__portal .react-datepicker-time__header {
    font-size: 1.44rem
}

.react-datepicker__children-container {
    width: 13.8rem;
    margin: .4rem;
    padding-right: .2rem;
    padding-left: .2rem;
    height: auto
}

.react-datepicker__aria-live {
    position: absolute;
    -webkit-clip-path: circle(0);
    clip-path: circle(0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap
}

.react-datepicker__calendar-icon {
    width: 1em;
    height: 1em;
    vertical-align: -.125em
}

*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.lgw-r :is(.lgw-sr-only) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}

.lgw-r :is(.lgw-pointer-events-none) {
    pointer-events: none
}

.lgw-r :is(.lgw-fixed) {
    position: fixed
}

.lgw-r :is(.lgw-absolute) {
    position: absolute
}

.lgw-r :is(.lgw-relative) {
    position: relative
}

.lgw-r :is(.lgw-bottom-0) {
    bottom: 0
}

.lgw-r :is(.lgw-bottom-full) {
    bottom: 100%
}

.lgw-r :is(.lgw-left-0) {
    left: 0
}

.lgw-r :is(.lgw-right-0) {
    right: 0
}

.lgw-r :is(.lgw-top-0) {
    top: 0
}

.lgw-r :is(.lgw-z-10) {
    z-index: 10
}

.lgw-r :is(.lgw-z-\[10\]) {
    z-index: 10
}

.lgw-r :is(.lgw-z-\[1\]) {
    z-index: 1
}

.lgw-r :is(.lgw-z-\[9000\]) {
    z-index: 9000
}

.lgw-r :is(.lgw-m-0) {
    margin: 0
}

.lgw-r :is(.lgw-m-auto) {
    margin: auto
}

.lgw-r :is(.lgw-my-3) {
    margin-top: 12px;
    margin-bottom: 12px
}

.lgw-r :is(.\ !lgw-mt-0) {
    margin-top: 0 !important
}

.lgw-r :is(.lgw-mb-1) {
    margin-bottom: 4px
}

.lgw-r :is(.lgw-mb-12) {
    margin-bottom: 48px
}

.lgw-r :is(.lgw-ml-2) {
    margin-left: 8px
}

.lgw-r :is(.lgw-mr-2) {
    margin-right: 8px
}

.lgw-r :is(.lgw-mt-1) {
    margin-top: 4px
}

.lgw-r :is(.lgw-mt-12) {
    margin-top: 48px
}

.lgw-r :is(.lgw-mt-2) {
    margin-top: 8px
}

.lgw-r :is(.lgw-block) {
    display: block
}

.lgw-r :is(.lgw-inline-block) {
    display: inline-block
}

.lgw-r :is(.lgw-inline) {
    display: inline
}

.lgw-r :is(.\ !lgw-flex) {
    display: flex !important
}

.lgw-r :is(.lgw-flex) {
    display: flex
}

.lgw-r :is(.lgw-inline-flex) {
    display: inline-flex
}

.lgw-r :is(.lgw-grid) {
    display: grid
}

.lgw-r :is(.\ !lgw-hidden) {
    display: none !important
}

.lgw-r :is(.lgw-hidden) {
    display: none
}

.lgw-r :is(.lgw-h-10) {
    height: 40px
}

.lgw-r :is(.lgw-h-12) {
    height: 48px
}

.lgw-r :is(.lgw-h-3) {
    height: 12px
}

.lgw-r :is(.lgw-h-3\.5) {
    height: 14px
}

.lgw-r :is(.lgw-h-4) {
    height: 16px
}

.lgw-r :is(.lgw-h-5) {
    height: 20px
}

.lgw-r :is(.lgw-h-6) {
    height: 24px
}

.lgw-r :is(.lgw-h-8) {
    height: 32px
}

.lgw-r :is(.lgw-h-auto) {
    height: auto
}

.lgw-r :is(.lgw-max-h-\[300px\]) {
    max-height: 300px
}

.lgw-r :is(.lgw-max-h-\[70vh\]) {
    max-height: 70vh
}

.lgw-r :is(.lgw-max-h-full) {
    max-height: 100%
}

.lgw-r :is(.lgw-min-h-\[200px\]) {
    min-height: 200px
}

.lgw-r :is(.lgw-w-10) {
    width: 40px
}

.lgw-r :is(.lgw-w-12) {
    width: 48px
}

.lgw-r :is(.lgw-w-3) {
    width: 12px
}

.lgw-r :is(.lgw-w-3\.5) {
    width: 14px
}

.lgw-r :is(.lgw-w-4) {
    width: 16px
}

.lgw-r :is(.lgw-w-5) {
    width: 20px
}

.lgw-r :is(.lgw-w-6) {
    width: 24px
}

.lgw-r :is(.lgw-w-8) {
    width: 32px
}

.lgw-r :is(.lgw-w-auto) {
    width: auto
}

.lgw-r :is(.lgw-w-fit) {
    width: -moz-fit-content;
    width: fit-content
}

.lgw-r :is(.lgw-w-full) {
    width: 100%
}

.lgw-r :is(.lgw-max-w-\[90\%\]) {
    max-width: 90%
}

.lgw-r :is(.lgw-flex-auto) {
    flex: 1 1 auto
}

.lgw-r :is(.lgw-flex-shrink-0) {
    flex-shrink: 0
}

.lgw-r :is(.lgw-rotate-180) {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.lgw-r :is(.lgw-transform) {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes lgw-spin {
    to {
        transform: rotate(360deg)
    }
}

.lgw-r :is(.lgw-animate-spin) {
    animation: lgw-spin 1s linear infinite
}

.lgw-r :is(.lgw-cursor-pointer) {
    cursor: pointer
}

.lgw-r :is(.lgw-items-center) {
    align-items: center
}

.lgw-r :is(.lgw-justify-end) {
    justify-content: flex-end
}

.lgw-r :is(.lgw-justify-center) {
    justify-content: center
}

.lgw-r :is(.lgw-justify-between) {
    justify-content: space-between
}

.lgw-r :is(.lgw-gap-2) {
    gap: 8px
}

.lgw-r :is(.lgw-space-y-2>:not([hidden])~:not([hidden])) {
    --tw-space-y-reverse: 0;
    margin-top: calc(8px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(8px * var(--tw-space-y-reverse))
}

.lgw-r :is(.lgw-overflow-auto) {
    overflow: auto
}

.lgw-r :is(.lgw-rounded) {
    border-radius: .25rem
}

.lgw-r :is(.\ !lgw-border-0) {
    border-width: 0px !important
}

.lgw-r :is(.lgw-border) {
    border-width: 1px
}

.lgw-r :is(.lgw-border-0) {
    border-width: 0px
}

.lgw-r :is(.lgw-border-t) {
    border-top-width: 1px
}

.lgw-r :is(.\ !lgw-border-red-600) {
    --tw-border-opacity: 1 !important;
    border-color: rgb(220 38 38 / var(--tw-border-opacity)) !important
}

.lgw-r :is(.lgw-border-gray-300) {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.lgw-r :is(.lgw-border-gray-400) {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.lgw-r :is(.lgw-border-primary) {
    --tw-border-opacity: 1;
    border-color: rgb(var(--lgw-primary-color) / var(--tw-border-opacity))
}

.lgw-r :is(.lgw-border-red-300) {
    --tw-border-opacity: 1;
    border-color: rgb(252 165 165 / var(--tw-border-opacity))
}

.lgw-r :is(.lgw-bg-\[\#edeae6\]) {
    --tw-bg-opacity: 1;
    background-color: rgb(237 234 230 / var(--tw-bg-opacity))
}

.lgw-r :is(.lgw-bg-gray-50\/40) {
    background-color: #f9fafb66
}

.lgw-r :is(.lgw-bg-primary) {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--lgw-primary-color) / var(--tw-bg-opacity))
}

.lgw-r :is(.lgw-bg-transparent) {
    background-color: transparent
}

.lgw-r :is(.lgw-bg-white) {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.lgw-r :is(.lgw-fill-current) {
    fill: currentColor
}

.lgw-r :is(.lgw-fill-primary) {
    fill: rgb(var(--lgw-primary-color))
}

.lgw-r :is(.lgw-object-contain) {
    -o-object-fit: contain;
    object-fit: contain
}

.lgw-r :is(.lgw-p-0) {
    padding: 0
}

.lgw-r :is(.lgw-p-1) {
    padding: 4px
}

.lgw-r :is(.lgw-p-2) {
    padding: 8px
}

.lgw-r :is(.lgw-px-2) {
    padding-left: 8px;
    padding-right: 8px
}

.lgw-r :is(.lgw-pb-4) {
    padding-bottom: 16px
}

.lgw-r :is(.lgw-pr-12) {
    padding-right: 48px
}

.lgw-r :is(.lgw-text-center) {
    text-align: center
}

.lgw-r :is(.\ !lgw-text-\[8px\]) {
    font-size: 8px !important
}

.lgw-r :is(.lgw-text-lg) {
    font-size: 18px;
    line-height: 28px
}

.lgw-r :is(.lgw-text-sm) {
    font-size: 14px;
    line-height: 20px
}

.lgw-r :is(.lgw-text-xs) {
    font-size: 12px;
    line-height: 16px
}

.lgw-r :is(.lgw-font-bold) {
    font-weight: 700
}

.lgw-r :is(.lgw-text-critical) {
    --tw-text-opacity: 1;
    color: rgb(var(--lgw-critical-color) / var(--tw-text-opacity))
}

.lgw-r :is(.lgw-text-gray-200) {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}

.lgw-r :is(.lgw-text-gray-600) {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity))
}

.lgw-r :is(.lgw-text-gray-900) {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}

.lgw-r :is(.lgw-text-primary) {
    --tw-text-opacity: 1;
    color: rgb(var(--lgw-primary-color) / var(--tw-text-opacity))
}

.lgw-r :is(.lgw-text-red-600) {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity))
}

.lgw-r :is(.lgw-text-white) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.lgw-r :is(.lgw-opacity-50) {
    opacity: .5
}

.lgw-r :is(.lgw-opacity-80) {
    opacity: .8
}

.lgw-r :is(.lgw-opacity-\[0\.75\]) {
    opacity: .75
}

.lgw-r :is(.lgw-shadow-md) {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.lgw-r :is(.lgw-shadow-sm) {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.lgw-r :is(.lgw-transition-all) {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.lgw-r :is(.lgw-transition-transform) {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.lgw-r :is(.lgw-duration-200) {
    transition-duration: .2s
}

.lgw-r :is(.lgw-duration-300) {
    transition-duration: .3s
}

.lgw-r :is(.lgw-ease-in-out) {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.lgw-r input[type=number]::-webkit-inner-spin-button,
.lgw-r input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.-ldt-gw-relative {
    position: relative
}

.lgw-Modal {
    position: absolute;
    border: 1px solid rgb(229 231 235 / 1);
    border-radius: 15px;
    background: #fff;
    outline: none;
    right: auto;
    bottom: auto;
    box-shadow: 0 10px 15px 3px #0000001a, 0 4px 6px -3px #0000001a;
    min-width: 360px;
    overflow: visible;
    max-width: 100%
}

.lgw-Modal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000d9;
    z-index: 2147483647;
    color: #000
}

.ldt-gw-modal-open body {
    overflow: hidden
}

.lgw-Modal .lgw-Modal__InnerContent .ldt-gw-select-options {
    position: initial
}

.lgw-center,
.lgw-zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px
}

.lgw-zoom-in-enter {
    transform: translate(-50%, -50%) scale(.1);
    transition: transform .3s ease-in
}

.lgw-zoom-in-enter-active {
    transform: translate(-50%, -50%) scale(1)
}

.lgw-zoom-out-exit {
    transition: transform .3s ease-out
}

.lgw-zoom-out-exit-active {
    transform: translate(-50%, -50%) scale(.1)
}

.lgw-zoom-fade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px
}

.lgw-zoom-fade-in-enter {
    transform: translate(-50%, -50%) scale(.1);
    opacity: 0;
    transition: transform .3s ease-in, opacity .3s ease-in
}

.lgw-zoom-fade-in-enter-active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1
}

.lgw-zoom-fade-out-exit {
    transition: transform .3s ease-out, opacity .3s ease-out
}

.lgw-zoom-fade-out-exit-active {
    transform: translate(-50%, -50%) scale(.1);
    opacity: 0
}

.lgw-fade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease-in-out;
    border-radius: 15px
}

.lgw-fade-in-enter {
    opacity: 0
}

.lgw-fade-in-enter-active,
.lgw-fade-out-exit {
    opacity: 1
}

.lgw-fade-out-exit-active {
    opacity: 0
}

.lgw-left-slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translate(-150%);
    transition: transform .3s ease;
    border-radius: 0 15px 15px 0
}

.lgw-left-slide-in-enter-active {
    transform: translate(0)
}

.lgw-right-slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translate(150%);
    transition: transform .3s ease;
    border-radius: 15px 0 0 15px
}

.lgw-right-slide-in-enter-active {
    transform: translate(0)
}

.lgw-top-slide {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: transform .3s ease;
    border-radius: 0 0 15px 15px
}

.lgw-top-slide-in-enter-active {
    transform: translate(-50%)
}

.lgw-bottom-slide {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 150%);
    transition: transform .3s ease;
    border-radius: 15px 15px 0 0
}

.lgw-bottom-slide-in-enter-active {
    transform: translate(-50%)
}

.ldt-gw-line-item-gift quantity-input {
    pointer-events: none
}

.ldt-gw-line-item-gift quantity-input button,
.ldt-gw-line-item-gift quantity-input input {
    pointer-events: none;
    opacity: .3
}

.ldt-gw-line-item-gift .quantity-input {
    pointer-events: none
}

.ldt-gw-line-item-gift .quantity-input button,
.ldt-gw-line-item-gift .quantity-input input {
    pointer-events: none;
    opacity: .3
}

.ldt-gw-line-item-gift .js-qty__wrapper {
    pointer-events: none
}

.ldt-gw-line-item-gift .js-qty__wrapper button,
.ldt-gw-line-item-gift .js-qty__wrapper input {
    pointer-events: none;
    opacity: .3
}

.ldt-force-hidden {
    display: none !important
}

.lgw-r .react-datepicker-wrapper {
    width: 100%
}

.lgw-r .react-datepicker-popper {
    z-index: 2
}

.lgw-r .react-datepicker__current-month {
    font-size: 14px;
    line-height: 20px
}

.ldt-gw-order-gift-option-container:has(+.upcart-footer) {
    padding-left: 10px
}

.lgw-r :is(.hover\:lgw-border-gray-600:hover) {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity))
}

.lgw-r :is(.hover\:lgw-font-bold:hover) {
    font-weight: 700
}

.lgw-r :is(.hover\:lgw-underline:hover) {
    text-decoration-line: underline
}

.lgw-r :is(.disabled\:lgw-bg-gray-100:disabled) {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.lgw-r :is(.disabled\:lgw-opacity-50:disabled) {
    opacity: .5
}

.lgw-r :is(.lgw-group:hover .group-hover\:lgw-flex) {
    display: flex
}

@media (min-width: 768px) {
    .lgw-r :is(.md\: lgw-min-w-\[600px\]) {
        min-width:600px
    }
    .lgw-r :is(.md\:lgw-max-w-\[900px\]) {
        max-width: 900px
    }
    .lgw-r :is(.md\:lgw-p-2) {
        padding: 8px
    }
    .lgw-r :is(.md\:lgw-p-4) {
        padding: 16px
    }
    .lgw-r :is(.md\:lgw-px-4) {
        padding-left: 16px;
        padding-right: 16px
    }
    .lgw-r :is(.md\:lgw-text-xl) {
        font-size: 20px;
        line-height: 28px
    }
}